<!-- Custom HTML site displayed as the Home chapter -->
{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
    .md-sidebar--primary {
        display: none;
    }
    .md-content__inner h1 {
        display: none;
    }
</style>


<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__image">
                <img src="assets/full-logo.png" draggable="false">
            </div>
            <div class="tx-hero__content">
                <h1>Fullstack applications and DevOps solutions</h1>
                <p>Find blueprints, best practices and more documented here</p>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}"
                    class="md-button md-button--primary">
                    Get started
                </a>
                <a href="{{ config.repo_url }}" title="{{ lang.t('source.link.title') }}" class="md-button">
                    Go to GitHub
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Main site box descriptions -->
<!-- <div class="top-hr">
    <div class="feature-item">
        <h2>
            <img src="assets/icons/devops.svg" draggable="false">
            DevOps
        </h2>
        <p>
            Find DevOps Solutions in some of the Repositories
        </p>
    </div>
    <div class="feature-item">
        <h2>
            <img src="assets/icons/library.svg" draggable="false">
            Libraries
        </h2>
        <p>
            Use Librarys for varoius frameworkscode developed in the department in your own project and support us in its further development with help
            or ideas.
        </p>
    </div>
    <div class="feature-item">
        <h2>
            <img src="assets/icons/githubactions.svg" draggable="false">
            GitHub actions
        </h2>
        <p>
            Use templates for Github actions and exchange ideas with others to build and maintain your software as
            automated as possible
        </p>
    </div>
</div> -->

<!-- <div class="top-hr">
    <div class="hr">
    </div>
</div> -->


{% endblock %}
{% block footer %}{% endblock %}