[submodule "docs/repos/github-actions-runner"]
	path = docs/repos/github-actions-runner
	url = https://github.com/fullstack-devops/github-actions-runner.git
    branch = main
[submodule "docs/repos/helm-charts"]
	path = docs/repos/helm-charts
	url = https://github.com/fullstack-devops/helm-charts.git
    branch = main