{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">Get Started</a>
      <!-- <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Awesome CI</h2>
          <p>A tool that greatly simplifies your CI workflow! Using SemVer and naming conventions saves a lot of time when creating a release.</p>
          <a class="btn px-4 mb-4" href="https://github.com/fullstack-devops/awesome-ci" role="button">Check it out</a>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Material Calendar</h2>
          <p>An Angular npm package in material design. Something that was missing from the default angular material library.</p>
          <a class="btn px-4 mb-4" href="https://github.com/fullstack-devops/material-calendar" role="button">Check it out</a>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Our Helm Charts</h2>
          <p>Everything we dockerize and put on kubernetes goes into our central helm chart repo. This makes a deployment and update much easier.</p>
          <a class="btn px-4 mb-4" href="https://github.com/fullstack-devops/helm-charts" role="button">Check it out</a>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <!-- <div class="col-lg-5">
          <h2 class="h4">Full text search</h2>
          <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
        </div> -->
        <!-- <div class="col-lg-5">
          <h2 class="h4">Page layouts</h2>
          <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Dark mode</h2>
          <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
        </div> -->
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
